In [1]:
import pandas as pd
import scipy
from scipy.stats import chi2_contingency

In [2]:
data=pd.read_csv("C:\\Users\\deepa\\Downloads\\BuyerRatio.csv")

In [3]:
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [6]:
data.drop('Observed Values',axis=1,inplace=True)

In [7]:
scipy.stats.chi2_contingency(data)

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [ ]:
#P value is 0.66>0.05. so, we accept H0. All proportions of male-female buyer ratio is same for all direction

In [ ]:
                                         #customer order

In [8]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import scipy
from scipy import stats

In [9]:
orderform=pd.read_csv('C:\\Users\\deepa\\Downloads\\Costomer+OrderForm.csv')

In [11]:
orderform.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [12]:
orderform=orderform.apply(LabelEncoder().fit_transform)
orderform.head()

   Phillippines  Indonesia  Malta  India
0             1          1      0      1
1             1          1      1      0
2             1          0      0      1
3             1          1      1      1
4             1          1      0      1

In [13]:
stats.f_oneway(orderform.iloc[:,0],orderform.iloc[:,1],orderform.iloc[:,2],orderform.iloc[:,3])

F_onewayResult(statistic=1.286168556089167, pvalue=0.2776780955705948)

In [ ]:
#P value is greater than the 0.05 , we accept null hypothesis, means the defective percentage does not vary with the centre