In [1]:
#cutlet
import pandas as pd                         
from scipy import stats

In [3]:
cutlets=pd.read_csv('C:\\Users\\deepa\\Downloads\\Cutlets.csv')

In [5]:
cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [6]:
#H0 - There is no significant difference in the diamaters of unit A and unit B (diameteres of the cutlets are same)
#H1 - There is a significant difference in the diamaters of unit A and unit B (diameteres of the cutlets are not same)
stats.ttest_ind(cutlets["Unit A"],cutlets["Unit B"])

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [ ]:
#Pvalue = 0.47>0.05. So, we accept H0.
#There is no significant difference in the diamaters of unit A and unit B (diameteres of the cutlets are same)

In [ ]:
                                         #LABTAT

In [8]:
labtat=pd.read_csv('C:\\Users\\deepa\\Downloads\\LabTAT.csv')

In [9]:
stats.f_oneway(labtat.iloc[:,0], labtat.iloc[:,1],labtat.iloc[:,2],labtat.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
#P value is 2.1156708949992414e-57 which is less than 0.05. So, we reject H0 and Accept H1.
#Thus,there is a difference in average TAT values among the different laboratories

In [ ]:
                                          #BUYER RATIO

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

NameError: name 'scipy' is not defined